.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 500px;
}

form label {
  font-size: 16px;
  font-weight: bold;
}

.inputDiv {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px 7px;
  font-size: 16px;
  border: 2px solid #4a5568;
  background: #2d3748;
  color: white;
  margin: 5px 0px;
  outline: none;
  border-radius: 10px;

}

/*İnputun placeHolderina eriştiğinde*/
input::placeholder {
  color: lightgray;
}

/*Focus oldugunda*/
input:focus {
  border-color: lightblue;
}

button {
  width: 100%;
  padding: 8px 8px;
  margin: 16px 0px;
  background: green;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  border: none;

}