.App {
  margin: 10px;

}

.searchDiv {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

/*form etiketine sahip olana kısma eriştik*/
.searchDiv form {

  display: flex;
  flex-direction: column;


}